<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <title>Deck Social Media</title>
</head>
<body>
    <header>
        <h1>Welcome!</h1>
        <div id="header_tabs">
            <button class="tab_links" onclick="">About Me</button>
            <button class="tab_links" onclick="">Work History</button>
            <button class="tab_links" onclick="">References</button>
            <button class="tab_links" onclick="">Projects</button>
        </div>
    </header>
    <div>
        <h2> Body Place holder </h2>
        <a href=""><img src="../static/images/1517024828341.jfif" alt="About Me"></a>
    </div>
    <footer>
        <p>Damien Marques</p>
        <ul>
            <li>Phone Number: (513)254-4857</li>
            <li><a href="mailto:damienf.a.marques@gmail.com">Email me</a></li>
            <li><a href="">Resume</a></li>
            <li>Located in Cincinnati, OH</li>
        </ul>
    </footer>
</body>
</html>