<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <title>Deck Social Media</title>
</head>
<body>
    <header>
        <h1>King of Games Network<h1>
        <div id="header_tabs">
            <button class="tab_links" onclick="">Magic</button>
            <button class="tab_links" onclick="">Yu-Gi-Oh</button>
            <button class="tab_links" onclick="">Register / Login</button>
        </div>
    </header>
    <div>
        <h2> Body Place holder </h2>
        <a href=""><img src="../static/images/Yugioh-link-image.jpg" alt="Yugioh"></a>
        <a href=""><img src="../static/images/MTG-link.jpg" alt="Magic The Gathering"></a>
    </div>
    <footer>
        <ul>
            <li>King of Games LLC</li>
            <li><a href="mailto:damienf.a.marques@gmail.com">Email me</a></li>
            <li><a href="">FAQ's</a></li>
            <li>Located in Ohio</li>
        </ul>
    </footer>
</body>
</html>