<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <title>Deck Social Media</title>
</head>
<body>
    <header>
        <h1><a href="/" id="returnhome">King of Games Network</a><h1>
        <div id="header_tabs">
            <a href="/magiclist"><button class="tab_links">Magic</button></a>
            <a href="/yugiohlist"><button class="tab_links">Yu-Gi-Oh</button></a>
            {% if logged_in %}
                <a href="/logout"><button class="tab_links">Logout</button></a>
            {% else %}
                <a href="/login_register"><button class="tab_links">Login/Register</button></a>
            {% endif %}
            {% if logged_in %}
            <a href="/yourdecks"><button class="tab_links">Your Decks</button></a>
            {% endif %}
        </div>
    </header>
    <div id="maincontent">
        <img class="sideimages" src="..//static/images/MTG-symbols.jpg" alt="MTG-symbols" width="500px">
        <div id="image_links">
            <div class="imagelink_text">
                <a href="" class="image_links"><img class="link_images" src="../static/images/Yugioh-link-image.jpg" alt="Yugioh" width="500px" height="250px"></a>
                <a href=""><p id="viewyugioh">View Yugioh Decks</p></a>
            </div>
            <div class="imagelink_text">
                <a href="" class="image_links"><img class="link_images" src="../static/images/MTG-link.jpg" alt="Magic The Gathering" width="500px" height="250px"></a>
                <a href=""><p id="viewmagic">View MTG Decks</p></a>
            </div>
        </div>
        <img class="sideimages" src="..//static/images/yugioh-card-types.png" alt="yugioh-card-types" width="500px">
    </div>

    <footer>
        <ul>
            <li>King of Games LLC</li>
            <li><a href="mailto:damienf.a.marques@gmail.com">Email me</a></li>
            <li><a href="">FAQ's</a></li>
            <li>Located in Ohio</li>
        </ul>
    </footer>
</body>
</html>