<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/magiclist.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <title>Magic Decks</title>
</head>
<body>
    <header>
        <h1><a href="/" id="returnhome">King of Games Network</a><h1>
        <div id="header_tabs">
            <a href="/magiclist"><button class="tab_links">Magic</button></a>
            <a href="/yugiohlist"><button class="tab_links">Yu-Gi-Oh</button></a>
            {% if session['user_id'] %}
                <a href="/logout"><button class="tab_links">Logout</button></a>
            {% else %}
                <a href="/login_register"><button class="tab_links">Login/Register</button></a>
            {% endif %}
            {% if session['user_id'] %}
            <a href="/yourdecks"><button class="tab_links">Your Decks</button></a>
            <a href="/createdeck"><button class="tab_links">Create Deck</button></a>
            {% endif %}
        </div>
    </header>
    <div>
        <div id="maincontent">
            <img class="sideimages" src="{{ url_for('static', filename='images/MTG-symbols.jpg') }}" alt="MTG-symbols" width="500px">
            <div id="magic_decks_list">
                <h2> Magic list </h2>
                {%  for deck in decks: %}
                <div class="decks">
                    <div class="deck_info">
                        <p>Name:  <a href="/deck/view/{{ deck.deck_id }}">{{ deck.deck_name }}</a></p>
                        <p>
                            {% if deck.decktype == 0 %}
                            Magic
                            {% else %}
                            Yu-Gi-Oh
                            {% endif %}
                        </p>
                        <p>Created: {{ deck.created_at }}</p>
                        <p>Creator: {{ deck.poster.first_name }}</p>
                    </div>
                    <div class="deck_links">
                        <a href="/deck/view/{{ deck.deck_id }}">View Card List</a>
                        {% if deck.user_id == session['user_id'] %}
                        <a href="/deck/edit/{{ deck.deck_id }}">Edit</a>
                        <a href="/deck/delete/{{ deck.deck_id }}">Delete</a>
                        {% endif %}
                    </div>
                </div> 
                {% else %}
                <p>No Decks found</p>
                {% endfor %}
            </div>
            <img class="sideimages" src="{{ url_for('static', filename='images/yugioh-card-types.png') }}" alt="yugioh-card-types" width="500px">
        </div>
    </div>
    <footer>
        <ul>
            <li>King of Games LLC</li>
            <li><a href="mailto:damienf.a.marques@gmail.com">Email me</a></li>
            <li><a href="">FAQ's</a></li>
            <li>Located in Ohio</li>
        </ul>
    </footer>
</body>
</html>