<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/viewdeck.css">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <title>View Deck</title>
</head>
<body>
    <header>
        <h1><a href="/" id="returnhome">King of Games Network</a><h1>
        <div id="header_tabs">
            <a href="/magiclist"><button class="tab_links">Magic</button></a>
            <a href="/yugiohlist"><button class="tab_links">Yu-Gi-Oh</button></a>
            {% if logged_in %}
                <a href="/logout"><button class="tab_links">Logout</button></a>
            {% else %}
                <a href="/login_register"><button class="tab_links">Login/Register</button></a>
            {% endif %}
            {% if logged_in %}
            <a href="/yourdecks"><button class="tab_links">Your Decks</button></a>
            {% endif %}
        </div>
    </header>
    <div>
        <h2> View Deck </h2>
    </div>
    <footer>
        <ul>
            <li>King of Games LLC</li>
            <li><a href="mailto:damienf.a.marques@gmail.com">Email me</a></li>
            <li><a href="">FAQ's</a></li>
            <li>Located in Ohio</li>
        </ul>
    </footer>
</body>
</html>