<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/viewdeck.css">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <title>View Deck</title>
</head>
<body>
    <header>
        <h1><a href="/" id="returnhome">King of Games Network</a><h1>
        <div id="header_tabs">
            <a href="/magiclist"><button class="tab_links">Magic</button></a>
            <a href="/yugiohlist"><button class="tab_links">Yu-Gi-Oh</button></a>
            {% if session['user_id'] %}
                <a href="/logout"><button class="tab_links">Logout</button></a>
            {% else %}
                <a href="/login_register"><button class="tab_links">Login/Register</button></a>
            {% endif %}
            {% if session['user_id'] %}
            <a href="/yourdecks"><button class="tab_links">Your Decks</button></a>
            <a href="/createdeck"><button class="tab_links">Create Deck</button></a>
            {% endif %}
        </div>
    </header>
    <div>
        <div id="maincontent">
            <img class="sideimages" src="..//static/images/MTG-symbols.jpg" alt="MTG-symbols" width="500px">
            <div id="magic_decks_list">
                <h2> Deck Info </h2>
                <div class="decks">
                    <div class="deck_info">
                        <a>Deck Name:</a>
                        <p>Deck Type</p>
                        <p>Created at:</p>
                        <p>Created By:</p>
                    </div>
                    <div class="deck_links">
                        <p><a href="">View Card List</a></p>
                        <p><a href="">If sessID=deckcreator Edit</a></p>
                        <p><a href="">If sessID=deckcreator Delete</a></p>
                    </div>
                </div>
            </div>
            <img class="sideimages" src="..//static/images/yugioh-card-types.png" alt="yugioh-card-types" width="500px">
        </div>
    </div>
    <footer>
        <ul>
            <li>King of Games LLC</li>
            <li><a href="mailto:damienf.a.marques@gmail.com">Email me</a></li>
            <li><a href="">FAQ's</a></li>
            <li>Located in Ohio</li>
        </ul>
    </footer>
</body>
</html>